/**
 * Navigation block
 **/
nav {
    font-size: 120%;
    font-weight: bold;
    background-color: #303D60;
    color: white;
}

/* by using "nav ul" instead of just "ul", only an unordered list in the nav bar will take on this styling, meaning it doesn't mess up unordered lists in the main content */
nav ul {
    list-style-type: none;
    text-align: center;
    margin-top: 0px;
    padding: 0px;
}

nav li {
    display: inline;
    margin-top: 100%;
    margin-bottom: 100%;
    padding: 5px;
    font-size: 40px;
}

nav ul a:hover {
    background-color: #3E4E7B;
}

.nav-bar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 2fr;
}

.nav-bar-item {
    margin: 0px;
    color: white;
    text-decoration: none;
}

/* end of nav block */

body {
    margin: 0px;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.logo {
    background-color: #3E4E7B;
    padding-left: 20px;
    padding-right: 20px;
}

/* Plane and engines lists */
.pe-container {
    border-radius: 15px;
    width: 80%;
    height: auto;
    background-color: #303D60;
    align-self: center;
    margin: auto;
    margin-top: 25px;
}

.pe-section {
    border-radius: 15px;
    width: 90%;
    height: auto;
    background-color: #3E4E7B;
    align-self: center;
    margin: auto;
    margin-top: 25px;
}

.pe-header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-left: 15px;
    padding-right: 15px;
}

.pe-info {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.pe-info img {
    height: 100%;
    width: 100%;
}

.pe-sort {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/** Font **/

body {
    font-family: "PT Sans Narrow", sans-serif;
}