/**
 * Navigation block
 **/
nav {
    font-size: 120%;
    font-weight: bold;
    background-color: #303D60;
    color: white;
}

/* by using "nav ul" instead of just "ul", only an unordered list in the nav bar will take on this styling, meaning it doesn't mess up unordered lists in the main content */
nav ul {
    list-style-type: none;
    text-align: center;
    margin-top: 0px;
    padding: 0px;
}

nav li {
    display: inline;
    margin-top: 100%;
    margin-bottom: 100%;
    padding: 5px;
    font-size: 40px;
}

nav ul a:hover {
    background-color: #3E4E7B;
}

nav ul li input {
    font-size: 40px;
    padding: 0%;
    border: 0%;
}

nav ul a {
    align-items: center;
}

.nav-bar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 2fr;
}

.nav-bar-item {
    margin: 0px;
    color: white;
    text-decoration: none;
    align-items: center;
}

@media (max-width: 1100px) {
    nav li {
        padding: 0px;
        font-size: 30px;
    }

    .nav-bar {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .nav-bar-fill {
        grid-column: span 3;
    }

    nav ul li input {
        font-size: 25px;
        width: 100%;
        height: 100%;
        border: 0px;
    }
}

/* Search bar styles */
.search-results {
    position: fixed;
    background-color: #303D60;
    display: none;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
}

.search-results a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: black;
}

.search-results a:hover {
    background-color: #3E4E7B;
}

/* end of nav block */

body {
    margin: 0px;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.logo {
    background-color: #3E4E7B;
    padding-left: 20px;
    padding-right: 20px;
}

/* Plane and engines lists */
.pe-container {
    border-radius: 15px;
    width: 80%;
    height: auto;
    background-color: #303D60;
    align-self: center;
    margin: auto;
    margin-top: 25px;
}

.pe-section {
    border-radius: 15px;
    width: 90%;
    height: auto;
    background-color: #3E4E7B;
    align-self: center;
    margin: auto;
    margin-top: 25px;
}

.pe-header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-left: 15px;
    padding-right: 15px;
}

.pe-info {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.pe-info img {
    height: 100%;
    width: 100%;
}

.pe-sort {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 1100px) {
    .pe-container {
        width: 90%;
    }
}

/** Font **/

body {
    font-family: "PT Sans Narrow", sans-serif;
}

/** Easter egg **/
.triangle {
    margin: 0px;
}