<!doctype html>
<html>

<head>
    <title> My site! </title>
    <link rel="stylesheet" href="/static/style/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap">
</head>

<nav>{% include 'navbar.html' %}</nav>

<body>
    <main>
        <pre class="triangle">{{asciiart.1}}</pre>
        <pre class="triangle">{{asciiart.2}}</pre>
        <pre class="triangle">{{asciiart.3}}</pre>
        <pre class="triangle">{{asciiart.4}}</pre>
        <pre class="triangle">{{asciiart.5}}</pre>
        <pre class="triangle">{{asciiart.6}}</pre>
    </main>
</body>

</html>