{% extends 'layout.html' %}

{% block content %}

<div class="pe-container">
    <br>
    <form method="POST" action="/create" enctype="multipart/form-data">
        <div class="creation-section">
            <label for="PlaneEngine" class="label-heading">Plane or Engine</label>
            <div class="creation-input">
                <select name="PlaneEngine" id="PlaneEngine">
                    <option value="plane">Plane</option>
                    <option value="engine">Engine</option>
                </select>
            </div>
        </div>
        <div class="creation-section">
            <label for="name" class="label-heading">Name*</label>
            <div class="creation-input">
                <input maxlength="79" minlength="1"  type="text" id="name" name="name">
            </div>
        </div>
        <div class="creation-section">
            <label for="description" class="label-heading">Description*</label>
            <div class="creation-input">
                <textarea maxlength="10000" minlength="1" name="description" id="description"></textarea>
            </div>
        </div>
        <div class="creation-section">
            <label for="picture" class="label-heading">Picture (PNG or JPG)</label>
            <div class="creation-input">
                <input type="file" accept=".png, .jpg, .jpeg" name="picture" id="picture">
            </div>
        </div>
        <div class="creation-section">
            <label for="password" class="label-heading">Password*</label>
            <div class="creation-input">
                <input maxlength="79" minlength="1"  type="password" id="password" name="password">
            </div>
        </div>
        <br>
        <button type="submit" class="submit-creation">Submit</button>
        <br>
    </form>
</div>

<br>

{% endblock %}