{% extends 'layout.html' %}

{% block content %}

<div class="pe-container">
    <br>
    <form method="POST" action="/create" class="">
        <div class="creation-section">
            <label for="PlaneEngine" class="label-heading">Plane or Engine</label>
            <div class="creation-input">
                <select name="PlaneEngine" id="PlaneEngine">
                    <option value="plane">Plane</option>
                    <option value="engine">Engine</option>
                </select>
            </div>
        </div>
        <div class="creation-section">
            <label for="name" class="label-heading">Name*</label>
            <div class="creation-input">
                <input type="text" id="name" name="name">
            </div>
        </div>
        <div class="creation-section">
            <label for="description" class="label-heading">Description*</label>
            <div class="creation-input">
                <textarea name="description" id="description"></textarea>
            </div>
        </div>
        <div class="creation-section">
            <label for="picture" class="label-heading">Picture</label>
            <div class="creation-input">
                <textarea name="picture" id="picture"></textarea>
            </div>
        </div>
        <div class="creation-section">
            <label for="password" class="label-heading">Password*</label>
            <div class="creation-input">
                <input type="password" id="password" name="password">
            </div>
        </div>
        <br>
        <button type="submit" class="submit-creation">Submit</button>
        <br>
    </form>
</div>

<br>

{% endblock %}