{% extends 'layout.html' %}

{% block content %}
<div class="pe-container">
    <div class="pe-header">
        <h1>Planes</h1>
        <h1>Sort By</h1>
    </div>
</div>

<div class="pe-container">
    {% for plane in planes %}
    <a href="/plane/{{plane.0}}">
        <div class="pe-section">
            <div class="pe-header">
                <h1>{{plane.1}}</h1>
                <h1>Avg Rating: 0/5</h1>
            </div>
            <div class="pe-info">
                <img src="" alt="">
                <p>{{plane.2}}</p>
            </div>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}